<!DOCTYPE html>
<html>
  <head>
    <title>Nuevo Juicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


    {% load static %}
    <link href="{% static 'courtroom/css/gracias.css' %}" rel="stylesheet">

    {% load bootstrap4 %}

  </head>
  <body>
    <div id="container">
      <h1> ¡Gracias! </h1>
      <p><a href="/">Volver a crear un nuevo juicio</a></p>
    </div>

  </body>
</html>